.profile_container {
  width: 1240px;
  display: flex;
  flex-direction: flex-start;
  margin: 120px auto;
}

.profile_container a {
  text-decoration: none;
}

.profile_menu_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile_menu_item {
  cursor: pointer;
  font-family: JetBrains Mono;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 32px auto;
  color: #8585ad;
}

.profile_menu_item_active {
  color: #f2f2f2;
}

.profile_info {
  width: 320px;
  color: #8585ad;
  font-family: JetBrains Mono;
  font-size: 16px;
  line-height: 24px;
  margin: 60px 0 0 0;
  padding: 0;
}

.profile_data {
  margin: 0 0 0 60px;
}

.profile_orders {
  margin: 0 0 0 60px;
}

.profile_orders_list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 80vh;
}

.profile_orders_container {
  width: 1240px;
  display: flex;
  flex-direction: flex-start;
  margin: 40px auto;
}

.profile_orders_container a {
  text-decoration: none;
}

.profile_order {
  width: 844px;
  margin: 16px auto;
}

.profile_orders_menu {
  margin-top: 78px;
}

.profile_button_container {
  display: flex;
}

.profile_button {
  margin: 0 24px 0 0;
}

.profile_button_reset {
  font-family: 'Jet Brains Mono';
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  padding: 20px 40px;
  color: var(--text-primary-color);
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: var(--common-border-radius);
  transition: var(--common-transition);
}